.hero {
  background-color: $hero_footer-background;
  width: 1600px;
  height: 600px;
  margin: 0 auto;
  margin-bottom: 94px;
  display: flex;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/studio-img/hero.jpg);
}
.hero__title {
  color: $white-color;
  line-height: calc(60 / 44);
  font-size: 44px;
  font-weight: 900;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}
.hero__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__btn {
  background-color: $blue-button;
  color: $white-color;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(30 / 16);
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
