

.portfolio__item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  height: 404px;
  width: 370px;
  box-sizing: border-box;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus { box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);

  }
}


.portfolio__link {
  display: block;
  border: 1px solid $item-border;
  width: 370px;
  height: 404px;
  
  
  &__box {
    position: relative;
  
    width: 370px;
    height: 294px;
    overflow: hidden;
  }
}
.portfolio__link:hover .overlay__box {
  transform: translateY(-100%);
}
.overlay__box {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  width: 100%;
  height: 100%;


  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;

    &__text {
    width: 322px;
    height: 168px;
    color: $white-color;
  
    font-size: 18px;
    font-weight: 400;
    line-height: calc(28 / 18);
  
    text-align: left;
  }
}

.portfolio__title {
  color: $black-color;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: calc(36 / 18);
  margin-top: 20px;
  margin-left: 24px;
}
.portfolio__note {
  color: $grey-color;

  font-size: 16px;
  font-weight: 400;
  line-height: calc(30 / 16);
  margin-top: 4px;
  margin-left: 24px;
}
.portfolio__main {
  width: 1600px;

  margin: 0 auto;
  margin-bottom: 94px;
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
