.team {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: $our-team;
  width: 1600px;
  height: 708px;
  margin-bottom: 94px;
  &__heading {
    @extend %heading;
  }
  &__subtitle {
    color: $black-color;

    font-size: 16px;
    font-weight: 500;
    line-height: calc(19 / 16);

  }
  &__img {
    margin-bottom: 30px;
  }
  &__text {
    color: $grey-color;
    font-size: 16px;
    font-weight: 400;
    line-height: calc(19 / 16);
  }
  &--flex {
    margin: 0 auto;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}




.team-list {
  display: flex;
  margin-top: 50px;
}
.team-item {
  background-color: $white-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 428px;
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    
    &:not(:last-child) {
      margin-right: 30px;
    }

}
.links {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 16px;
  gap: 10px;
}
.links-item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 22px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover svg {
    fill: $white-color;
  }
  &:hover {
    background-color: $blue-color;
    border-radius: 22px;
  }
  &__link {

    box-sizing: border-box;
    display: flex;

    align-items: center;
    justify-content: center;
  }
}




 .links-item__icon {
  width: 20px;
  height: 20px;

  &--instagram {
  width: 20px;
  height: 20px;
 
  }
  &--twitter {
    width: 20px;
    height: 16.25px;
  }
  &--facebook {
    width: 10px;
    height: 20px;
  }
  &--linkedin {
    width: 20px;
    height: 20px;
  }
}







